<?xml version="1.0"?>
<model>
  <name>house3_shell</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>nikhil</name>
    <email>nikhilks29@gmail.com</email>
  </author>
  <description>Planned single-floor house shell for the 3D lidar SLAM world.</description>
</model>
